<div id="wrap">
	<div class="container">
		<p>This page may take a long time to load. This is normal. Please only reload the page if it takes longer than 2 minutes to load</p>
		Search: <input ng-model="search_text">
		&nbsp;
		<select ng-model="search.recorder" ng-options="recorder for recorder in recorders">
			<option value="">-- Recorder --</option>
		</select>
		&nbsp;
		<select ng-model="search.hasMedia" ng-options="selection for selection in hasMediaSelection">
			<option value="">-- Has Media --</option>
		</select>
		<table id="sheet">
			<tr><th>Group Name</th><th>Data Viewer</th><th>Recorder</th><th>Date of Recording (Dor)</th><th>Has Media</th><th>Size</th></tr>
			<tr ng-repeat="data in dataList | filter:search:ignoreNullComparator | filter:search_text">
				<td>
					{{data.name}}
				</td>
				<td>
					<a ng-href="./#/group/{{data.requestName}}">(Depreciated)</a><br>
					<a ng-href="./#/group-ngGrid/{{data.requestName}}">ngGrid</a><br>
					<a ng-href="./#/group-uiGrid/{{data.requestName}}">uiGrid</a><br>
					<a ng-href="./#/group-ngWidgetsGrid/{{data.requestName}}">ngWidgets</a><br>
					<a ng-href="./#/group-agGrid/{{data.requestName}}">angularGrid</a><br>
				</td>
				<td>{{data.recorder}}</td>
				<td>{{data.birthCert.dor}}</td>
				<td>{{data.hasMedia}}</td>
				<td>{{data.size}}</td>
			</tr>
		</table>
	</div>
	<div id="push"></div>
</div>
