<div class="container">
	<h1>{{dataName}}</h1>
	<p>Note: This page may take a long time to load. This is normal. Please only reload the page if it takes longer than 2 minutes to load</p>
	<p>The dropdown search functionality is still experimental. It may not always work. If the page stops responding correctly then reload the page and it will reset the page.</p>
	<div>
		Search: <input ng-model="searchText"> &nbsp;&nbsp;&nbsp;&nbsp;
		<!-- Exclude: <input ng-model="excludeText"> &nbsp;&nbsp;&nbsp;&nbsp; -->
		Displaying max: <input ng-model="totalDisplayed"> of {{dataList.length}}. &nbsp;&nbsp;&nbsp;&nbsp;
		Filters showing: {{filtered.length}}. &nbsp;&nbsp;&nbsp;&nbsp;
		<button class="btn" ng-click="uncheckAll()"> Uncheck All</button>
	</div>
	<div ng-show="progressPercent != 100" class="row" style="padding-top:7px;">
		<progressbar class="progress-striped active" value="progressPercent" type="success">Loading:  <b>{{progressPercent}}%</b> </progressbar>
	</div>
</div>
<div class="container-fluid" style="padding-left:3px; padding-right:3px;">
	<table id="sheet">
		<tr> <!--SUPER HEADERS-->
			<th ng-show=" mediaSizeMax > 0" colspan="{{mediaSizeMax}}">Media</th>
			<th colspan="6">Birth Certificate</th>
			<th ng-show=" dataHeaders.length > 0" colspan="{{dataHeaders.length}}">Data</th>
		</tr><!--END SUPER HEADERS-->
		<tr> <!--HEADERS-->
			<th ng-repeat="n in [] | range:mediaSizeMax">Media: {{n}}</th>
			<th>ID</th><th>birthID</th><th>dob</th><th>dor</th><th>lat</th><th>lon</th>
			<th ng-repeat=" (header, headerData) in tableValuesForHeader" ng-switch="headerData.duplicateFound">
				<!--IF THERE SHOULD BE A DROP DOWN-->
				<div ng-switch-when="true">
					<div class="btn-group" dropdown ng-class="{open: headerData.dropDownOpen}" id="myDropdown">
						<button class="btn btn-primary dropdown-toggle"> {{header}} <span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a ng-click="tableValuesForHeader[header].checkAll()">
									<i class="glyphicon glyphicon-ok"></i>  Check All
								</a>
							</li>
							<li>
								<a ng-click="tableValuesForHeader[header].selectedValues=[];">
									<i class="glyphicon glyphicon-remove"></i>  Uncheck All
								</a>
							</li>
							<li class="divider"></li>
							<!-- Values that can be selected are displayed here -->
							<li ng-repeat='value in headerData.values'>
								<a ng-click="headerData.setSelected( value )" style="text-align: left;">{{value}} &nbsp; ({{headerData.valuesWithCount[value]}})
									<span data-ng-class="headerData.isChecked(value)"></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--IF THERE SHOULD NOT BE A DROP DOWN-->
				<div ng-switch-default>{{header}}</div>
			</th>
		</tr><!--END HEADERS-->
		<!--DATA DISPLAY-->
		<tr ng-repeat="data in filtered = (dataList | filter:searchText | columnFilter:tableValuesForHeader | limitTo:totalDisplayed)">
			<td ng-repeat="n in [] | range:mediaSizeMax">{{data.mediaList[n].id}}
				<a href="{{data.mediaList[n].original}}">
					<img ng-src="{{data.mediaList[n].thumb}}"></img>
				</a>
			</td>
			<td>{{data.id}}</td><td>{{data.birthCert.birthID}}</td>
			<td>{{data.birthCert.dob}}</td><td>{{data.birthCert.dor}}</td>
			<td>{{data.birthCert.lat}}</td><td>{{data.birthCert.lon}}</td>
			<td ng-repeat=" (header, headerData) in tableValuesForHeader ">{{data.data[header]}}</td>
		</tr>
		<!--END DATA DISPLAY-->
	</table>
	<button class="btn" ng-click="loadMore()">Load more</button>
</div>
