<!DOCTYPE html>
<html lang="en" ng-app="viewerapp">
	<head>
		<title>Better CK Console Viewer</title>
		<!-- Firebase -->
		<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>

		<!-- jquery -->
		<!--[if lt IE 9]>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<![endif]-->
		<!--[if (gte IE 9) | (!IE)]><!-->
		<!--script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" type="text/javascript"></script>
		<!--<![endif]-->

		<script src="javascripts/underscore.js" type="text/javascript"></script>

		<!-- angularjs -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>


		<style>
			html,body{margin:0; padding:0;}
			body{padding:4em;}

			.center{text-align:center;}
			.title{margin:0; padding:0; text-align:center;}

			table{width:100%; margin-top:2em; margin-right:2em; border-collapse:collapse; border:1px solid #ccc;}
			table th{padding:4px 10px; border:1px solid #ccc; background:#eee; border-top:2px solid #333; border-bottom:2px solid #333;}
			table td{padding:4px 10px; border:1px solid #ccc;}
			table:focus{outline:none;}
			table td:focus{background:#FFD; outline:1px solid #08F;}
			table td:active{background:#FFD;}

			.l1{padding-left:10px;}
			.l2{padding-left:30px;}
			.l3{padding-left:50px;}

			.t1 td{font-weight:bold; background:#e8e8e8; border-top:2px solid #333;}
			.t2 td{font-weight:bold; background:#f6f6f6;}
			.t3 td{font-weight:bold; background:#fff;}

			.s0 td{font-weight:bold; background:#eee; padding-left:10px; border-top:2px solid #333; border-bottom:2px solid #333;}
			.s1 td{font-weight:bold; background:#e8e8e8;}
			.s2 td{font-weight:bold; background:#f6f6f6;}
			.s3 td{font-weight:bold; background:#fff;}

			table td:nth-child(1){text-align:left;}
			table td:nth-child(2){text-align:left;}
			table td:nth-child(3){text-align:right;}
			table td:nth-child(4){text-align:right;}
			table td:nth-child(5){text-align:right;}
		</style>

		<!-- console library -->
		<script type='text/javascript' src='javascripts/ck-console.js'></script>
		<script type='text/javascript' src='javascripts/bootstrap.min.js'></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css">
		<script type="text/javascript">
		function getRequestedDatasetName(){
			var text = self.location.search;
			var theleft = text.lastIndexOf("=") + 1;
			var theright = text.length;
			return(text.substring(theleft, theright));
		}
		</script>

	</head>
	<body ng-controller="DataCtrl">
		<script type="text/javascript">
			Array.prototype.unique = function() {
				var a = this.concat();
				for(var i=0; i<a.length; ++i) {
					for(var j=i+1; j<a.length; ++j) {
						if(a[i] === a[j])
							a.splice(j--, 1);
					}
				}
				return a;
			};

			var groupName = getRequestedDatasetName().replace(/%/g, " ");
			console.log(groupName);

			app = angular.module('viewerapp', ['ckServices']);
			app.controller('DataCtrl', ['$scope', '$compile', 'ckConsole', 'ckConsoleMap', '$http', function($scope, $compile, ckConsole, ckConsoleMap, $http){


				function Data(id, birthCert, data, mediaList){
					function ImageURLData(id, imageDataSet){
						this.id = id;
						this.thumb = imageDataSet.thumb;
						this.small = imageDataSet.small;
						this.medium = imageDataSet.medium;
						this.original = imageDataSet.original;
					}

					this.id = id;
					this.birthCert = birthCert;
					this.data = data;
					this.dataHeaders = [];
					this.mediaList = [];
					for(var d in data){
						this.dataHeaders[this.dataHeaders.length] = d;
					}
					if(mediaList == null){
						this.hasMedia = false;
						return;
					}

					if($scope.mediaSizeMax < Object.keys(mediaList).length){
						$scope.mediaSizeMax = Object.keys(mediaList).length;
					}
					this.hasMedia = true;
					for(var mediaName in mediaList){
						this.mediaList[this.mediaList.length] = new ImageURLData(mediaName, mediaList[mediaName]);
					}

				}

				$scope.dataName = groupName;
				$scope.dataList = [];
				$scope.mediaSizeMax = 0;
				ckConsole.getGroup(groupName).then(function(infoData){
					console.log(infoData);
					$scope.dataHeaders = [];
					for(var id in infoData.members){
						var member = infoData.members[id];
						var images = null;
						try{
							images = member.media.images;
						} catch (e){
						}
						var memberData = new Data(id, member.birth_certificate, member.data, images);
						$scope.dataList[$scope.dataList.length] = memberData;
						//Find the longest header
						$scope.dataHeaders = $scope.dataHeaders.concat(memberData.dataHeaders).unique();
						//$scope.dataHeaders = memberData.dataHeaders;
					}

					console.log($scope.dataList);


					var maxIterateSize = 20;
					var iterateSize = ($scope.dataList.length < maxIterateSize ? $scope.dataList.length : maxIterateSize);
					//Check to see if its worth it to create a dropdown for a header
					var tableValuesForHeader = {};
					$scope.tableValuesForHeader = tableValuesForHeader;
					for(j in $scope.dataHeaders){
						var header = $scope.dataHeaders[j];
						var valuesChecked = 0;
						tableValuesForHeader[header] = {
							duplicateFound: false, // Should this field have a dropdown?
							values : [], // List of values for a given row
							valuesWithCount: {},
							selectedValues : [],
							dropDownOpen: false,
							toggleDropDown: function(){
								//Store what the value was
								var valueWas = this.dropDownOpen;
								//Close all of the other drop downs
								for(otherHeader in $scope.tableValuesForHeader){
									$scope.tableValuesForHeader[otherHeader].dropDownOpen = false;
								}
								//Toggle this one
								this.dropDownOpen = !valueWas;
							},
							checkAll : function(){
								this.selectedValues = this.values;
							},
							setSelected : function(value){
								if (_.contains(this.selectedValues, value)) {
									this.selectedValues = _.without(this.selectedValues, value);
								} else {
									this.selectedValues.push(value);
								}
								return false;
							},
							isChecked : function(value){
								if (_.contains(this.selectedValues, value)) {
									return 'icon-ok pull-right';
								}
								return 'icon-ok pull-right hide';
							}
						};
						for(var i = 0; i < (tableValuesForHeader[header].duplicateFound ? $scope.dataList.length : iterateSize); i++){
							var data = $scope.dataList[i].data;
							if(data[header] == ""){
								//If the field is undefined then skip it
								continue;
							}
							if(tableValuesForHeader[header].values.indexOf(data[header]) == -1){
								tableValuesForHeader[header].values.push(data[header]);
								tableValuesForHeader[header].valuesWithCount[data[header]] = 1;
							} else {
								tableValuesForHeader[header].duplicateFound = true;
								tableValuesForHeader[header].valuesWithCount[data[header]] ++;
							}
						}
					}
					console.log(tableValuesForHeader);

					$scope.totalDisplayed = ($scope.dataList.length < 500 ? $scope.dataList.length : 500);
				});
			}]);
			app.filter('range', function() {
				return function(input, total) {
					total = parseInt(total);
					for (var i=0; i<total; i++)
						input.push(i);
					return input;
				};
			});
			app.filter('columnFilter', function(){
				return function(elements, allheaderData){
					if (!angular.isUndefined(elements) && !angular.isUndefined(allheaderData) && _.flatten(_.pluck(allheaderData, 'selectedValues')).length > 0){
						var tempElements = [];
						angular.forEach(allheaderData, function(headerData, header){
							angular.forEach(headerData.selectedValues, function(selectedValue){
								angular.forEach(elements, function(element){
									if(angular.equals(element.data[header], selectedValue)){
										tempElements.push(element);
									} else if(!$scope.filtersAdditive) {
									}
								});
							});
						});
						return tempElements;
					} else {
						return elements;
					}
				}
			});

			function TableCtrl($scope){
				$scope.filtered = null;
				$scope.excludeText = "";
				$scope.loadMore = function () {
					$scope.totalDisplayed += 500;
				};

				$scope.uncheckAll = function() {
					angular.forEach($scope.tableValuesForHeader, function(headerData){
						headerData.selectedValues = [];
					});
				}

				$scope.filtersAdditiveSelection = [false, true];
				$scope.filtersAdditive = false;
			}
		</script>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="index.html">Better CK Console Viewer</a>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<div class="container" ng-controller="TableCtrl">
			<h1>{{dataName}}</h1>
			Search: <input ng-model="searchText"> &nbsp;&nbsp;&nbsp;&nbsp; <!-- Exclude: <input ng-model="excludeText"> &nbsp;&nbsp;&nbsp;&nbsp; --> Displaying max: <input ng-model="totalDisplayed"> of {{dataList.length}}. &nbsp;&nbsp;&nbsp;&nbsp; Filters showing: {{filtered.length}}. &nbsp;&nbsp;&nbsp;&nbsp; <button class="btn" ng-click="uncheckAll()"> Uncheck All</button>

			<table id="sheet">
				<tr><th ng-repeat="n in [] | range:mediaSizeMax">Media: {{n}}</th><th>ID</th><th>birthID</th><th>dob</th><th>dor</th><th>lat</th><th>lon</th>
					<th ng-repeat=" (header, headerData) in tableValuesForHeader" ng-switch="headerData.duplicateFound">
						<div ng-switch-when="true">
							<div class="btn-group" data-ng-class="{open: headerData.dropDownOpen}">
								<button class="btn"> {{header}}</button>
								<button class="btn dropdown-toggle" data-ng-click="headerData.toggleDropDown()"><span class="caret"></span></button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
									<li><a data-ng-click="tableValuesForHeader[header].checkAll()"><i class="icon-ok-sign"></i>  Check All</a>
									</li>
									<li><a data-ng-click="tableValuesForHeader[header].selectedValues=[];"><i class="icon-remove-sign"></i>  Uncheck All</a></li>
									<li class="divider"></li>
									<li ng-repeat="value in headerData.values"><a data-ng-click="headerData.setSelected(value)" style="text-align: left;">{{value}} &nbsp; ({{headerData.valuesWithCount[value]}})<span data-ng-class="headerData.isChecked(value)"></span></a></li>
								</ul>
							</div>
						</div>
						<div ng-switch-default>{{header}}</div>
					</th></tr>

				<tr ng-repeat="data in filtered = (dataList | limitTo:totalDisplayed | filter:searchText | columnFilter:tableValuesForHeader)"><td ng-repeat="n in [] | range:mediaSizeMax">{{data.mediaList[n].id}}<a href="{{data.mediaList[n].original}}"><img ng-src="{{data.mediaList[n].thumb}}"></img></a></td><td>{{data.id}}</td><td>{{data.birthCert.birthID}}</td><td>{{data.birthCert.dob}}</td><td>{{data.birthCert.dor}}</td><td>{{data.birthCert.lat}}</td><td>{{data.birthCert.lon}}</td><td ng-repeat=" header in dataHeaders">{{data.data[header]}}</td></tr>
			</table>
			<button class="btn" ng-click="loadMore()">Load more</button>
		</div>

	</body>
</html>
